.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.form-container {
  background-color: beige;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
